<div class="card">
    <div class="card-body border-bottom">
        <h2 class="card-title">{{ item.name }}</h2>
        <p class="card-text mb-0">{{item.description}}</p>
        <p class="card-text mb-0">{{ item.nutritionalInfo.calories}} kcal</p>
    </div>   <div class="card-body border-bottom">  
        <button class="btn btn-outline-secondary">
            <i class="fa-solid fa-circle-info fa-xl me-2"></i>
            <h6 class="d-inline">Info</h6>
        </button>
    </div>
    <div class="card-body">
        <h5>Extras & removals</h5>
    </div>
    @for (item of item.extras; track $index) {
        <div class="card-body border-top border-bottom">
            <div class="row justify-content-between">
                <div class="col-11">
                    <p>test</p>
                </div>
                <div class="col-1">
                    <input class="form-check-input form-check-input-lg" type="checkbox" value="">
                </div>
            </div>
        </div>
    }
</div>

