<div class="container">
    @for (item of items; track item.title) {
        <div class="row justify-content-center mb-2">
            <div class="col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img class="img-thumbnail img-fluid" src="/assets/borger.jpg" [alt]="item.imageAlternateText">
                            </div>
                            <div class="col">
                                <h6>{{ item.title }}</h6>
                                <p>{{ item.description }}</p>
                                <span>{{ item.price | currency }}</span>
                                <button (click)="displayItem(item)" class="btn btn-primary btn-sm float-end">order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
