<nav class="navbar navbar-expand-lg">
    <div class="d-flex flex-column flex-shrink">
        <ul ngbNav [(activeId)]="active" class="nav nav-pills nav-flush flex-column mb-auto text-center" orientation="vertical">
            <li class="nav-item mb-2" ngbNavItem="">
                <a ngbNavLink routerLink="" class="nav-link py-3 border-bottom">
                    <i class="fa-solid fa-house fa-2xl"></i>
                </a>
            </li>
            <li class="nav-item mb-2" ngbNavItem="order">
                <a ngbNavLink routerLink="order" class="nav-link py-3 border-bottom">
                    <i class="fa-solid fa-basket-shopping fa-2xl"></i>
                </a>
            </li>
            <li class="nav-item" ngbNavItem="menu">
                <a ngbNavLink routerLink="menu" class="nav-link py-3 border-bottom">                
                    <i class="fa-solid fa-rectangle-list fa-2xl"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
