<header class="sticky-top high-z-index">
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            @if (headerService.showBack) {
                <button routerLink="/" class="btn btn-sm btn-outline-primary me-2">
                    home
                </button>
                <button (click)="onBack()" class="btn btn-sm btn-outline-primary me-4">
                    <i class="fa-solid fa-arrow-left"></i>
                    back
                </button>
            }
            <h4>{{ headerService.currentTitle }}</h4>
            @if(loggedIn){
                <ul class="navbar-nav ms-md-auto d-flex flex-row">
                    <li ngbDropdown class="ms-md-auto d-flex flex-row me-2">
                        <a (click)="notificationsClicked()" ngbDropdownToggle class="nav-link dropdown-toggle">
                            <i class="fas fa-bell"></i>
                            @if (activeNotifications !== 0) {
                                <span class="badge rounded-pill badge-notification bg-danger ms-1">{{ activeNotifications }}</span>
                            }
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                            @for (item of status; track $index) {
                                <p class="mb-0" ngbDropdownItem>{{ item }}</p>
                            }
                            
                        </div>
                    </li>
                    <li ngbDropdown class="ms-md-auto d-flex flex-row me-2">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle">
                            <i class="fa-regular fa-user"></i>
                            @if(activeOrders !== 0) {
                                <span class="badge rounded-pill badge-notification bg-danger ms-1">{{ activeOrders }}</span>
                            }
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <button [routerLink]="['orders', 'current']" ngbDropdownItem class="btn">
                                pending orders 
                                <span class="badge rounded-pill badge-notification bg-danger ms-1">{{ activeOrders }}</span></button>
                            <button [routerLink]="['orders', 'previous']" ngbDropdownItem class="btn">Previous orders</button>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </nav>
</header>
  