
<form [formGroup]="loginForm">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <label for="exampleFormControlInput1">Email address</label>
            <input formControlName="username" class="form-control" id="exampleFormControlInput1" placeholder="Username">
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
       <button (click)="logIn()" class="btn btn-primary">Login</button>
    </div>
</div>
