<div class="container">
    <div class="row">
        <div class="col-6">
            <a routerLink="order" class="link-underline link-underline-opacity-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">ORDER</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a routerLink="menu" class="link-underline link-underline-opacity-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">MENU</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> 
