<div class="row">
    @if(restaurants){
        @for (restaurant of restaurants; track restaurant._id ) {
            <div class="col-md-6 col-sm-12 mb-2">
                <a [routerLink]="['restaurant', restaurant._id]" class="link-underline link-underline-opacity-0">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                        <div class="card-body">
                            <h6 class="card-title">{{ restaurant.name }}</h6>
                            <p class="card-text">{{ restaurant.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    } @else {
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">No restaurant are available at the moment</h4>
                </div>
            </div>
        </div>
    }
</div>