
<div class="toast-container position-fixed top-0 end-0 p-3 high-z-index">
    @for (toast of toastService.toasts; track toast) {
        <ngb-toast
            [class]="toast.className"
            [autohide]="true"
            [delay]="toast.duration || 5000"
            (hidden)="toastService.remove(toast)"
        >
            <div class="row g-2 align-items-center">
                <div class="col-11">
                    <h5 class="mb-0">{{ toast.message }}</h5>
                </div>
                <div class="col-1">
                    <a role="button" (click)="toastService.remove(toast)">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                    
                </div>
            </div>
        </ngb-toast>
    }
</div>

